<!DOCTYPE html>
{% extends 'blogapp/base.html' %}
{% load static %}

{% block body_block1 %}

<h1 class="templatemo-header">Saurav's Blog</h1>
<img src="{% static 'images/wooden-desk.jpg' %}" alt="Wooden Desk" class="img-thumbnail">
<article>
    <h2>Changing Perception</h2>
    <p>
        People often believe they have to make a dramatic change in their work in order to be more fulfilled, whether this means finding a new job or transitioning to a whole new career. Those may be the best options on occasion, but in most cases it's important to start by maximizing the contributions you're making within your current work.”
    </p>
</article>

{% endblock %}